<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-buttons>
        <ion-row class="ion-align-items-center" size="auto">
          <ion-back-button defaultHref="home/principal"></ion-back-button>
        </ion-row>
      </ion-buttons>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h3><strong>Pagamento</strong></h3>

  <form [formGroup]="form">
    
      <ion-item class="form-group">
        <ion-label position="stacked">Nome do Titular</ion-label>
        <ion-input formControlName="nometitular"></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label position="stacked">Número do Cartão</ion-label>
        <ion-input formControlName="numerocartao" type="number"></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label position="stacked">Validade</ion-label>
        <ion-datetime formControlName="validade" displayFormat="MM/YYYY" min="2020" max="2090"></ion-datetime>
      </ion-item>

      <ion-item class="form-group">
        <ion-label position="stacked">Código de Segurança</ion-label>
        <ion-input formControlName="codigoseguranca" type="number"></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label position="stacked">CPF</ion-label>
        <ion-input formControlName="cpf" type="number"></ion-input>
      </ion-item>
    

      <div>
        <ion-button expand="full" size="auto" routerLink="/home/pagamento" (click)=onSubmit()>Confirmar Compra</ion-button>
      </div>
  </form>
</ion-content>
